<script type='text/javascript'>

    $(document).ready(function () {

        var frm = $('#contact-form');
        $(frm).submit(function (event) {
            $.ajax({
                type: frm.attr('method'),
                url: '/api/contact-form',
                data: frm.serialize(),
                success: function (data) {
                    submitContactFormSuccess(data)
                },
                error: function (data) {
                    ajaxError()
                }
            });
            event.preventDefault();
        });

    });

    function submitContactFormSuccess(data) {
        var error = data['error_message'];
        var newFormHTML = data['form_html'];

        if (newFormHTML) {
            $('#contact-form-wrapper').html(newFormHTML);
        }

        if (error) {
            // DO NOT DISPLAY SUCCESS
        }

        else {
            displaySuccess()
        }
    }

</script>

<div class='title-wrapper'>

    <h2>Quick Question</h2>

</div>

{% if contact_form.errors %}
    <div id='form-error'>
        <h3>Please correct the following errors marked in red.</h3>
    </div>
{% endif %}

<form id='contact-form' method='POST'>

    {% csrf_token %}

    <div class='input-wrapper left {% if contact_form.first_name.errors %}errors{% endif %}'>

        <label for='id_first_name'>First Name</label>
        {{ contact_form.first_name }}

    </div>

    <div class='input-wrapper right {% if contact_form.last_name.errors %}errors{% endif %}'>

        <label for='id_last_name'>Last Name</label>
        {{ contact_form.last_name }}

    </div>

    <div class='input-wrapper left {% if contact_form.phone.errors %}errors{% endif %}'>

        <label for='id_phone'>Phone</label>
        {{ contact_form.phone }}

    </div>

    <div class='input-wrapper right {% if contact_form.email.errors %}errors{% endif %}'>

        <label for='id_email'>Email</label>
        {{ contact_form.email }}

    </div>

    <div class='input-wrapper {% if contact_form.preferred_method.errors %}errors{% endif %}'>

        <label for='id_email'>Preferred Method</label>
        {{ contact_form.preferred_method }}

    </div>

    <div class='input-wrapper {% if contact_form.message.errors %}errors{% endif %}'>

        <label for='id_email'>Message</label>
        {{ contact_form.message }}

    </div>

    <div class='clear-both'></div>

    <input class='btn info' type='submit' value='Submit'>

</form>